@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
    width: 5px;
    
}
 
/* Track */
::-webkit-scrollbar-track {
    background: #475569;
    
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #1E293B;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #0F172A;
}